body{
    margin: 0;
    font-family: sans-serif;
    background: #ccc;
    padding: 20px;
}
header{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 2px solid #222;
    margin: 20px;
    height: 300px;
}
.item{
    background: #800;
    color: #eee;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    flex: 1 1 100px;
}
.item:nth-child(2n){
    background: #608;
}
.item5{
    align-self: stretch;
}
.item8{
    align-self: end;
}