*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 60px auto 50px;
}
header, footer{
    background: #c42abc;
    text-align: center;
    align-content: center;
    color: #eee;
}
.parrafos{
    font-size: 20px;
    padding: 20px;
}
/* auto-fit */
.grid{
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit,minmax(60px, 1fr));
    grid-template-rows: repeat(2,80px);
    border: 3px solid #222;
    padding: 20px;
    gap: 20px 10px;
}
/* auto-fill */
.grid2{
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill,minmax(60px, 1fr));
    grid-template-rows: repeat(2,80px);
    border: 3px solid #222;
    padding: 20px;
    gap: 20px 10px;
}
.grid-item{
    background-color: #48e;
    font-size: 30px;
    color: #eee;
}